:root {
    --c-header-primary-bg: var(--color-quaternary);
    --c-header-secondary-bg: var(--color-primary);
}
/*-------------------

GLOBAL HEADER FOR CLIENT

-------------------*/
.ct-c-header {
    // padding: var(--space-sm) var(--space-sm) 0;
    min-height: 66px;

    &.header--onScroll {
        box-shadow: none;
        background-color: var(--color-base-white);
    }
}

.ct-c-header__wrapper {
    display: flex;
    align-items: center;
}


.ct-c-header__block {
    &--centered {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


.ct-c-header__brand {
    height: 41px;
    width: auto;
    object-fit: contain;
    transition: 0.2s;

    @include mq($from: desktop-small) {
        height: 50px;
    }
}

.ct-c-header__nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    > .ct-c-nav__item {
        position: relative;
    }

    > .ct-c-nav__item > .ct-c-nav__link {
        white-space: nowrap;
        &::after {
            content: "";
            display: block;
            width: 16px;
            background-color: var(--color-base-white); // white
            border: inherit;
            position: absolute;
            bottom: -2.2rem;
            left: calc(50% - 16px);
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
            transform: rotate(135deg) translateX(-50%);
            border-radius: 0 0 0 0.25rem;
            transition: 0.2s;

            opacity: 1;
            height: 0;
        }

        &.active{

            &::after {
                opacity: 1;
                height: 16px;
            }
        }
    }
}

.ct-c-nav__item {
    a:hover {
        text-decoration: none;
    }
}

.ct-c-nav__notif {
    position: relative;

    i {
        @include x-rem(font-size, 20px);
    }
    .ct-notif__circle {
        position: absolute;
        top: 12px;
        right: 13px;
    }
}

.ct-c-nav__link {
    text-decoration: none;
    transition: all 0.33s ease;
}

/* primary header */
.ct-c-header__primary {
    // background: linear-gradient(89.99deg, #457FCA 15.14%, #5691C8 106.39%);
    background-color: var(--c-header-primary-bg);
    box-shadow: 0px 17px 40px -1px rgba(0, 37, 167, 0.05);
    padding: var(--space-xs) 0;
    transition: 0.2s;

    .ct-c-nav__link {
        color: var(--color-base-white);
        font-family: var(--font-tertiary);
    }

    .ct-c-nav__item {
        color: var(--color-base-white);
    }

    .ct-c-header__wrapper {
        justify-content: space-between;
    }

    .ct-user-dropdown__menu {
        top: 6px !important;
        left: -20px !important;
    }
}


/*-------------------

CLIENT HEADER - SECONDARY

-------------------*/
.ct-c-header__secondary {
    // background: linear-gradient(91.47deg, rgba(255, 255, 255, 0.67) 1.2%, rgba(255, 255, 255, 0.18) 89.61%);
    background-color: var(--c-header-secondary-bg);
    box-shadow: 0px 17px 40px -1px rgba(0, 37, 167, 0.05);
    transition: 0.2s;
    padding: var(--space-rg) 0;

    .ct-c-header__wrapper {
        justify-content: space-between;
    }

    .ct-c-nav__item,
    .ct-c-nav__link {
        color: var(--color-base-white);
        font-family: var(--font-tertiary);
        @include x-rem(font-size, 14px);
    }

    .ct-c-nav__link {
        display: block;
        padding: var(--space-sm) var(--space-rg);

        &:hover,
        &.active {
            background-color: var(--color-secondary);
            color: var(--color-base-white);
        }

        &.active {
            font-family: var(--font-tertiary);
        }
    }
}

