
/*-------------------

GLOBAL HEADER FOR CLIENT

-------------------*/
.ct-c-header__wrapper {
    display: flex;
    align-items: center;
}


.ct-c-header__brand {
    height: 41px;
    width: auto;
    object-fit: contain;
    transition: 0.2s;
}

.ct-c-header__nav {
    display: flex;
    align-items: center;
}

.ct-c-nav__item {
    a:hover {
        text-decoration: none;
    }
}

.ct-c-nav__notif {
    position: relative;

    i {
        @include x-rem(font-size, 20px);
    }
    .ct-notif__circle {
        position: absolute;
        top: 12px;
        right: 13px;
    }
}

.ct-c-nav__link {
    text-decoration: none;
    transition: all 0.33s ease;
}

/* upper header */
.ct-c-header__primary {
    background-color: var(--color-primary);
    padding: var(--space-xs) 0;
    transition: 0.2s;

    .ct-c-nav__item {
        color: var(--color-base-white);
    }

    .ct-c-nav__item {
        @include mq($from: desktop-small) {
            &:not(:last-child) {
                margin-right: var(--space-md);
            }
        }
    }

    .ct-c-header__wrapper {
        justify-content: space-between;
    }

    .ct-user-dropdown__menu {
        top: 6px !important;
        left: -20px !important;
    }
}

/*-------------------

CLIENT HEADER - SECONDARY

-------------------*/
.ct-c-header__secondary {
    // background: linear-gradient(91.47deg, rgba(255, 255, 255, 0.67) 1.2%, rgba(255, 255, 255, 0.18) 89.61%);
    background-color: var(--color-base-white);
    box-shadow: 0px 17px 40px -1px rgba(0, 37, 167, 0.05);
    transition: 0.2s;

    .ct-c-nav__link {
        display: block;
        padding: var(--space-sm) var(--space-rg);

        &:hover,
        &.active {
            background-color: var(--color-secondary);
            color: var(--color-base-white);
        }

        &.active {
            font-family: var(--font-tertiary);
        }
    }
}
