// main: ../style.scss

/*-------------------

Cards

-------------------*/

// 1. sass vars / css vars
:root {
    --card-shadow-1:    0px 17px 40px -1px rgb(0 37 167 / 10%);
}



// 2. Base
.ct-cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;

    @include mq($from: tablet-portrait) {
        gap: 2.2rem;
    }
    @include mq($from: desktop-small) {
        gap: 3rem;
    }
}

.ct-card {
    background-color: var(--color-base-white);
    box-shadow: var(--card-shadow-1);
    border-radius: var(--border-radius-xs);
    padding: var(--space-md) var(--space-md);

    min-width: 200px;

    @include mq($from: tablet-landscape) {
        padding: var(--space-lg) var(--space-md);
    }

    .icon {
        height: 98px;
        width: auto;
        object-fit: contain;
        margin-bottom: var(--space-sm);
    }

    &--rg {
        width: 308px;
        max-width: 308px;

        p {
            @include x-rem(font-size, 14px);
        }
      
    }

    &--md {
        width: 100%;
        max-width: 400px;
    }


    &--lg {
        width: 100%;
        max-width: 450px;
    }

    &--reg {
        margin-top: var(--space-md);
        @include mq($from: desktop-small) {
            margin-top: var(--space-lg);
            padding: var(--space-lg) var(--space-xl);
        }
    }
}

.ct-card--colored {
    padding-left: 2.5rem;
    position: relative;

    > * {
        position: static;
        z-index: 2;
    }

    &::before {
        content: "";
        width: 84px;
        height: 84px;
        // background-color: #FFF7D6;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        left: -25%;
    }
}

.ct-card--transparent {
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 17px 40px -1px rgba(0, 37, 167, 0.05);
    backdrop-filter: blur(50px);
    background: transparent;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;

    > *:not(.btn) {
        color: var(--color-base-white);
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 20px;
        left: 20px;
        background-color:var(--color-primary-light);
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(0);
        transform-origin: 50% 50%;
        transition: transform 0.3s ease-out;
    }
    
    &:hover {
        border-color: transparent;

        &:before {
            transform: scale(24);
        }
    }
}

@for $i from 1 through length($cardAccentColors) {
    .ct-card--colored:nth-child(#{length($cardAccentColors)}n+#{$i})::before {
        background-color: nth($cardAccentColors, $i)
    }
}

.ct-card--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ct-card--withOverlay {
    border-color: transparent !important;
}

.ct-cards-grid {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
 

    // @include mq($from: desktop-small) {
    //     grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    // }
}

