.ct-nav-pills {
    background: linear-gradient(91.47deg, rgba(255, 255, 255, 0.67) 1.2%, rgba(255, 255, 255, 0.18) 89.61%);
    box-shadow: 0px 17px 40px -1px rgba(0, 37, 167, 0.05);
    backdrop-filter: blur(50px);
    border-radius: 14px;
    border: solid 1px var(--color-base-white);
    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    flex-wrap: nowrap;

    .nav-link{
        font-family: var(--font-tertiary);
        border-radius: 14px;
        // @include x-rem(font-size, 14px);
        color: var(--color-neutral-0);
        padding: var(--space-sm) var(--space-rg);
        white-space: nowrap;
        transition: all .2s;

        &.active {
        background: var(--color-base-white);
        
        color: var(--color-primary);
        }

        // &:hover:not(.active) {
        //     background-color: var(--color-neutral-6);
        // }
    }
}